h1{
    color: red;
    font-size: 1rem;
}
h2{
    color: red;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}
.container{
    border:  5px solid blue;
    padding: 5px;
    border-radius: 10px;
}
.container > div{
    border: 5px  solid aqua;
    padding: 3px;
    border-radius: 10px;
}
#ten-truong{
    text-decoration: underline;
}
h5{
    color: blue;
    font-size: 1rem;
    text-align: center;
}
.khung{
    color: blue;
    font-size: 1.5rem;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
}